<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
    <form  action="/" method="post">

<table >
	<tbody>
		<tr>
			<td><p><input type="submit" name="send_A" value="Auto ON/OFF"> </p></td>
			<td></td>
			<td><p><input type="submit" name="send_S" value="Ferma"> </p></td>
		</tr>
		<tr>
			<td> </td>
			<td><p><input type="submit" name="send_F" value="Avanti"> </p></td>
			<td> </td>
		</tr>
		<tr>
			<td><p><input type="submit" name="send_R" value="Destra"> </p></td>
			<td> </td>
			<td><p><input type="submit" name="send_L" value="Sinistra"> </p></td>
		</tr>
		<tr>
			<td> </td>
			<td><p><input type="submit" name="send_B" value="Indietro"> </p></td>
			<td> </td>
		</tr>
	</tbody>
</table >
    </form>
  </body>
</html>